<!-- TaskApp/templates/task_list.html -->
{% extends 'base.html' %}

{% block content %}
    <div >
        <h2>All Tasks</h2>
        <a href="{% url 'task_create' %}" class="btn btn-primary">Create Task</a>
    </div>
    
    <div class="row">
        {% for task in tasks %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <!-- Task Title -->
                        <h5 class="card-title text-primary">{{ task.title }}</h5>
                        
                        <!-- Task Description -->
                        <p class="card-text">{{ task.description }}</p>

                        <!-- Task Status -->
                        <div class="mb-3">
                            {% if task.is_completed %}
                                <span class="badge badge-success">Completed</span>
                            {% else %}
                                <span class="badge badge-warning">In Progress</span>
                            {% endif %}
                        </div>

                        <!-- Action Buttons -->
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
